@value makerBrown, makerWhite, makerYellow, makerDarkBrown from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 1.5em;
  background-color: makerBrown;
  position: relative;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1.5em;
  padding: 1em;
  border-radius: 20%;
  background-color: makerYellow;
  color: makerDarkBrown;
  font-weight: bold;
  outline: 0;
  border: 0;
  cursor: pointer;
}
